# Dependencies
node_modules/
backend/node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders (if frontend build hota hai)
dist/
build/

# Optional: coverage reports
coverage/

# database local files (agar local db use kar rahe ho)
database/*.sqlite
database/*.db

# IDE files
.vscode/
.idea/